.page {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    align-items:  center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: auto;
}

@media screen and (max-width: 320px) {
    .page {
        min-width: 320px;
    }
}