.cover__subtitle {
    margin: 0;
    padding: 0;
    width: 360px;
    height: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        margin-bottom: 245px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__subtitle {
        margin-bottom: 195px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        margin-bottom: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 33px;
    }
}