@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_type/header__lang-link_type_active.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-links-item/header__lang-links-item.css);

.header {
    margin: 0 auto;
    display: flex;
    height: auto;
    width: 95%;
    padding-top: 28px;
    justify-content: space-between;
}

@media screen and (min-width: 1280px) {
    .header {
        max-width: 1184px;
        width: 100%;
    }
}