.lead__image {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 64px;
}

@media screen and (min-width: 1024px) {
    .lead__image {
        width: 90%;
    }
}