@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-accent/intro__list-accent.css);

.intro {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 92px auto;
}

@media screen and (min-width: 1280px) {
    .intro {
        width: 984px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        width: 928px;
        margin-top: 77px;
        margin-bottom: 107px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        width: 720px;
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .intro {
        width: 350px;
        margin-top: 70px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 424px) {
    .intro {
        width: 288px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
}