@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__links-item/footer__links-item.css);

.footer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: auto;
    padding-top: 92px;
    padding-bottom: 24px;
    justify-content: space-between;
    color: white;
}

@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1184px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
    }
}